* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.mainBox {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainBox .header h1 {
    font-size: 50px;
    font-weight: normal;
}
.mainBox .profile {
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 100px;
}
.mainBox .profile .proBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainBox .profile .proBox p {
    font-size: 18px;
    margin-top: 10px;
}
.mainBox .profile .proBox img {
    width: 150px;
    border-radius: 5px;
}
.mainBox .profile .proBox img:hover {
    border: 3px solid white;
}
.mainBox .profile .proBox p {
    color: gray;
}
.mainBox .proBtn {
    display: flex;
    justify-content: center;
}
.mainBox .proBtn button {
    background-color: black;
    color: gray;
    border: 1px solid gray;
    width: 130px;
    height: 40px;
    font-size: 15px;
}
.mainBox .proBtn button:hover {
    color: pink;
    border: 1px solid pink;
}